<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <h4>Status</h4><%= res.status %>
        <%- include('../partials/codeableConcept', {codeableConcepts: [res.type], name: "Type"}); %>

        <%- include('../partials/reference', {references: [res.subscriber], name: "Subscriber"}); %>
        <%- include('../partials/reference', {references: [res.beneficiary], name: "Beneficiary"}); %>
        <%- include('../partials/reference', {references: res.payor, name: "Payor"}); %>

        <%- include('../partials/period', {periods: [res.period], name: "Period"}); %>

        <%- include('../partials/codeableConceptWithValue', {codeableConceptsWithValue: res.class, codePropertyName: "type", name: "Class"}); %>

        <%- include('../partials/reference', {references: res.contract, name: "Contract"}); %>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
