<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <h4>Status</h4><%= res.status %>

        <h4>Outcome</h4><%= res.outcome %>
        <h4>Created</h4><%= res.created %>
        <% if (res.billablePeriod) {%><h4>Billable Period</h4><%= res.billablePeriod.start %> to <%= res.billablePeriod.start %><%}%>

        <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: [res.type], name: "Type", searchParameter: ''}); %>

        <%- include('../partials/reference', {references: [res.patient], name: "Patient"}); %>

        <%- include('../partials/reference', {references: [res.insurer], name: "Insurer"}); %>

        <%- include('../partials/reference', {references: [res.provider], name: "Provider"}); %>

        <%- include('../partials/reference', {references: [res.claim], name: "Claim"}); %>

        <% if (res.diagnosis) { %>
        <div>
            <h4>Diagnosis</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sequence</th>
                  <th scope="col">Code</th>
                  <th scope="col">Type</th>
                </tr>
              </thead>
              <tbody>
            <% res.diagnosis.forEach(function(diagnosisItem){ %>
                <tr>
                    <td><%= diagnosisItem.sequence %></td>
                    <td>
                        <% if (diagnosisItem.diagnosisCodeableConcept){%>
                        <% diagnosisItem.diagnosisCodeableConcept.coding.forEach(function(coding) {%>
                            <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                        <%})%>
                        <%}%>
                    </td>
                    <td>
                        <% if (diagnosisItem.type){%>
                        <% diagnosisItem.type.forEach(function(type) {%>
                            <% type.coding.forEach(function(coding) {%>
                                <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                            <%})%>
                        <%})%>
                        <%}%>
                    </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.procedure) { %>
        <div>
            <h4>Procedure</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sequence</th>
                  <th scope="col">Code</th>
                </tr>
              </thead>
              <tbody>
            <% res.procedure.forEach(function(procedure){ %>
                <tr>
                    <td><%= procedure.sequence %></td>
                    <td>
                        <% if (procedure.procedureCodeableConcept){%>
                        <% procedure.procedureCodeableConcept.coding.forEach(function(coding) {%>
                            <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                        <%})%>
                        <%}%>
                    </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>


        <% if (res.item) { %>
        <div>
            <h4>Items</h4>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">Sequence</th>
                  <th scope="col">Date</th>
                  <th scope="col">Code</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Revenue</th>
                  <th scope="col">Submitted</th>
                  <th scope="col">Allowed</th>
                  <th scope="col">Deductible</th>
                  <th scope="col">Coinsurance</th>
                  <th scope="col">CoPay</th>
                  <th scope="col">Non-covered</th>
                  <th scope="col">COB</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Patient</th>
                </tr>
              </thead>
              <tbody>
            <% res.item.forEach(function(item){ %>
                <tr>
                <td><%= item.sequence %></td>
                <td>
                    <% if (item.servicedDate) { %>
                        <%= item.servicedDate %>
                    <%} else if (item.servicedPeriod) {%>
                        <% if (item.servicedPeriod.start != item.servicedPeriod.end) {%>
                            <%= item.servicedPeriod.start %> - <%= item.servicedPeriod.end %>
                        <% } else { %>
                            <%= item.servicedPeriod.start %>
                        <%}%>
                    <%}%>
                </td>
                <td>
                    <% if (item.productOrService) { %>
                        <% item.productOrService.coding.forEach(function(coding){ %>
                            <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.quantity) { %>
                        <%= item.quantity.value %>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.revenue) { %>
                       <% item.revenue.coding.forEach(function(coding){ %>
                            <%= coding.code %>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'submittedamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'allowedamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'deductibleamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'coinsuranceamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'copayamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'noncoveredamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'cobamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'paymentamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.adjudication) {%>
                        <% item.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'patientpayamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.adjudication) { %>
        <div>
            <h4>Adjudication</h4>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">Submitted</th>
                  <th scope="col">Allowed</th>
                  <th scope="col">Deductible</th>
                  <th scope="col">Coinsurance</th>
                  <th scope="col">CoPay</th>
                  <th scope="col">Non-covered</th>
                  <th scope="col">COB</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Patient</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'submittedamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'allowedamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'deductibleamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'coinsuranceamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'copayamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'noncoveredamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'cobamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'paymentamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (res.adjudication) {%>
                        <% res.adjudication.filter(x => x.category && x.category.coding && x.category.coding.some(y => y.code === 'patientpayamount')).forEach(function(adjudication){%>
                           <% adjudication.category.coding.forEach(function(coding){ %>
                                <%= adjudication.amount.value %>
                            <%})%>
                        <%})%>
                    <%}%>
                 </td>
                 </tr>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.careTeam) { %>
        <div>
            <h4>Care Team</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sequence</th>
                  <th scope="col">Provider</th>
                  <th scope="col">Role</th>
                </tr>
              </thead>
              <tbody>
            <% res.careTeam.forEach(function(item){ %>
                <tr>
                    <td><%= item.sequence %></td>
                    <td><a href="/4_0_0/<%= item.provider.reference %>"><%= item.provider.reference %></a></td>
                    <td>
                        <% if (item.role && item.role.coding){%>
                            <% item.role.coding.forEach(function(coding){%>
                                <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                            <%})%>
                        <%}%>
                    </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.insurance) { %>
        <div>
            <h4>Insurance</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Focal</th>
                  <th scope="col">Coverage</th>
                </tr>
              </thead>
              <tbody>
            <% res.insurance.forEach(function(item){ %>
                <tr>
                    <td><%= item.focal %></td>
                    <td><a href="/4_0_0/<%= item.coverage.reference %>"><%= item.coverage.reference %></a></td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.total) { %>
        <div>
            <h4>Totals</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Code</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
            <% res.total.forEach(function(total){ %>
                <tr>
                <td><%= total.id %></td>
                <td>
                    <% if (total.category) { %>
                        <% total.category.coding.forEach(function(coding){ %>
                            <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (total.amount) { %>
                        <%= total.amount.value %>
                    <%}%>
                 </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.supportingInfo) { %>
        <div>
            <h4>Supporting Info</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sequence</th>
                  <th scope="col">Code</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
            <% res.supportingInfo.forEach(function(item){ %>
                <tr>
                <td><%= item.sequence %></td>
                <td>
                    <% if (item.category && item.category.coding) { %>
                        <% item.category.coding.forEach(function(coding){ %>
                            <%= coding.code %> (<%= coding.system.split('/').pop() %>)
                        <%})%>
                    <%}%>
                 </td>
                 <td>
                    <% if (item.valueQuantity) { %>
                        <%= item.valueQuantity.value %>
                    <%} else if (item.code && item.code.coding && item.code.coding.length > 0) { %>
                        <% item.code.coding.forEach(function(coding){%>
                            <%= coding.code %> <% if (item.valueString) {%>(<%= item.valueString %>)<%}%>
                        <%})%>
                    <%} else if (item.valueString) { %>
                        <%= item.valueString %>
                    <%}%>
                 </td>
                 </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>


        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
