<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <%- include('../partials/reference', {references: [res.providedBy], name: "Provided By"}); %>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.type, name: "Type"}); %>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.specialty, name: "Specialty"}); %>

        <%- include('../partials/reference', {references: res.location, name: "Location"}); %>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.characteristic, name: "Characteristic"}); %>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.communication, name: "Communication"}); %>

        <%- include('../partials/reverse_reference', {reverseReferences: [{target:'PractitionerRole', property:'healthcareService'}], id:res.id, name: "Practitioner Role"}); %>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
