<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid p-0">
    <header><%- include('../partials/header', {resources: resources}); %></header>
    <div class="container-fluid">
      <table class="table">
        <thead class="sticky-table-head">
          <tr>
            <th scope="col">Resource</th>
            <th scope="col">Description</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody class="border-0">
          <% resources.forEach(function(resource){%>
          <tr>
            <td>
              <a href="<%= resource.url %>" title="FHIR Specification for <%= resource.name %>"
                ><%= resource.name %></a
              >
            </td>
            <td><%= resource.description %></td>
            <td>
              <a href="/4_0_0/<%= resource.name %>">/4_0_0/<%= resource.name %></a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
      Swagger API Documentation: <a href="/api-docs/">/api-docs</a>
    </div>
    <!-- prettier-ignore -->
    <%- include('../partials/footer', {url: locals.url ? url : '', currentYear: locals.currentYear, meta: locals.meta ? meta : {}}); %>
  </body>
</html>
