<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid p-0">
    <header><%- include('../partials/header', {resources: resources}); %></header>

    <main class="d-flex align-items-start">
      <%- include('../partials/searchForm'); %>
      <div class="search-results">
        <% resources.forEach(function(res){ %>
        <div class="resource-item p-3">
          <!-- prettier-ignore -->
          <%- include('../partials/resourceHeader', {res: res}); %>

          <h4>Name</h4>
          <!-- prettier-ignore -->
          <%= res.name %>
          <%- include('../partials/reference', {references: [res.ownedBy], name: "Owned By"}); %>
          <% if (res.plan) {%>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <!-- prettier-ignore -->
              <% res.plan.forEach(function(plan){%>
              <% if (plan.identifier) {%>
                <% plan.identifier.forEach(function(identifier){%>
              <tr>
                <td>
                  <!-- prettier-ignore -->
                  <% if (identifier.type && identifier.type.coding) {%>
                    <% identifier.type.coding.forEach(function(coding){%>
                      <%= coding.code %> (<%= coding.display %>)
                    <%})%>
                  <%}%>
                </td>
                <td><%= identifier.value %></td>
              </tr>
              <%})%> <%}%> <%})%>
            </tbody>
          </table>
          <%}%> <%- include('../partials/json', {res: res}); %>
        </div>
        <%})%>
      </div>
    </main>

    <%- include('../partials/footer', {url: url, meta: meta}); %>
  </body>
</html>
