<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <% if (res.type) { %>
        <div>
            <h4>Type</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Display</th>
                  <th scope="col">System</th>
                </tr>
              </thead>
              <tbody>
            <% res.type.forEach(function(type){ %>
                <% if (type.coding) { %>
                <% type.coding.forEach(function(coding){ %>
                <tr>
                  <td><%= coding.code %></td>
                  <td><%= coding.display %></td>
                  <td><%= coding.system %></td>
                </tr>
                <%})%>
                <%}%>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.address) { %>
        <div>
            <h4>Address</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Line</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Zip</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                    <% if (res.address.line) { %>
                        <% res.address.line.forEach(function(line){ %>
                        <%= line %>
                        <%})%>
                    <%}%>
                    </td>
                  <td><%= res.address.city %></td>
                  <td><%= res.address.state %></td>
                  <td><%= res.address.postalCode %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.position) { %>
        <div>
            <h4>Position</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Map</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= res.position.latitude %></td>
                  <td><%= res.position.longitude %></td>
                  <td><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= res.position.latitude %>%2C<%= res.position.longitude %>">Map</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <%}%>

        <div>
            <h4>Practitioner Roles</h4>
            <a href="/4_0_0/PractitionerRole?location=<%= res.id %>">PractitionerRole?location=<%= res.id %></a>
        </div>

        <div>
            <h4>Healthcare Services</h4>
            <a href="/4_0_0/HealthcareService?location=<%= res.id %>">HealthcareService?location=<%= res.id %></a>
        </div>

        <div>
            <h4>Organizations</h4>
            <a href="/4_0_0/Organization?location=<%= res.id %>">Organization?location=<%= res.id %></a>
        </div>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
