<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>
        <h4>Status</h4><%= res.status %>
        <h4>Type</h4><%= res.type %>
        <h4>Measure</h4><%= res.measure %>

        <%- include('../partials/reference', {references: [res.subject], name: "Subject"}); %>

        <%- include('../partials/period', {periods: [res.period], name: "Period"}); %>

        <% if (res.group){%>
            <h4>Group</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Population</th>
                  <th scope="col">Measure Score</th>
                </tr>
              </thead>
              <tbody>
            <% res.group.forEach(function(group){%>
                <% group.population.forEach(function(population){%>
                <tr>
                    <td>
                    <% if (population.code && population.code.coding){%>
                    <% population.code.coding.forEach(function(coding){%>
                        <%= coding.code %> = <%= population.count %>
                    <%})%>
                    <%}%>
                    </td>
                    <td>
                        <% if (group.measureScore){%>
                            <%= group.measureScore.value %>
                        <%}%>
                    </td>
                </tr>
                <%})%>
            <%})%>
              </tbody>
            </table>
        <%}%>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
