<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>
        <div>
            <h4>Names</h4>
            <% res.name.forEach(function(name){ %>
                <div>
                    <%= name.family %>, <% name.given.forEach(function(given){ %> <%= given %> <%})%>
                </div>
            <%})%>
        </div>
        <div>Gender: <%= res.gender %></div>
        <div>
            <h4>General Practitioners</h4>
            <% res.generalPractitioner.forEach(function(generalPractitioner){ %>
                <div><a href="/4_0_0/<%= generalPractitioner.reference %>"><%= generalPractitioner.display %></a></div>
            <%})%>
        </div>
        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
