<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <div class="text-right">
      <button id="btnLogout" class="btn btn-success">Logout</button>
    </div>
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <%- include('../partials/humanNames', {names: res.name, resourceType: res.resourceType}); %>

        <div><h4>Gender</h4><%= res.gender %></div>

        <% if (res.generalPractitioner) { %>
        <div>
            <h4>General Practitioners</h4>
            <% res.generalPractitioner.forEach(function(generalPractitioner){ %>
                <div><a href="/4_0_0/<%= generalPractitioner.reference %>"><%= generalPractitioner.display %></a></div>
            <%})%>
        </div>
        <%}%>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
<script type="text/javascript">
  document.getElementById('btnLogout').onclick = function() {
    document.cookie = "jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
    window.location = '<%= idpUrl %>' + '/logout?client_id=' + '<%= clientId %>' + '&logout_uri=' + window.location.origin + '/index';
  }
  
</script>
</html>
