<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <%- include('../partials/humanNames', {names: res.name, resourceType: res.resourceType}); %>

        <h4>Gender</h4><%= res.gender %>
        <h4>Active</h4><%= res.active %>

         <%- include('../partials/contactpoint', {contacts: res.telecom, name: "Telecom"}); %>

         <h4>BirthDate</h4><%= res.birthDate %>

         <%- include('../partials/address', {addresses: res.address, name: "Address"}); %>

        <%- include('../partials/reference', {references: [res.managingOrganization], name: "Managing Organization"}); %>

        <%  if (res.link) {%>
            <h4>Link</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Link</th>
                  <th scope="col">Assurance</th>
                </tr>
              </thead>
              <tbody>
            <% res.link.forEach(function(link){%>
              <tr>
                <td><a href="/4_0_0/<%= link.target.reference %>"><% if (link.target.display) { %><%= link.target.display %><% } else {%><%= link.target.reference %><% } %></a></td>
                <td><%= link.assurance %> </td>
              </tr>
            <%})%>
            </tbody>
            </table>
        <%}%>

        <%- include('../partials/reverse_reference', {reverseReferences: [{target:'AuditEvent', property:'agent'}], id:res.id, name: "Audit Event"}); %>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
