<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>

</header>

<main>
  <div class="jumbotron">
    <form class="form-inline">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="inputNpi">NPI</label>
        <input type="text" class="form-control" id="inputNpi" placeholder="NPI">
      </div>
      <div class="form-group">
        <label for="inputSource">Source</label>
        <input type="text" class="form-control" id="inputSource" placeholder="Source">
      </div>
      <div class="form-group">
        <label for="inputLastUpdatedGreaterThan">Updated After</label>
        <input type="text" class="form-control" id="inputLastUpdatedGreaterThan" placeholder="2021-01-18">
      </div>
      <div class="form-group">
        <label for="inputLastUpdatedLessThan">Updated Before</label>
        <input type="text" class="form-control" id="inputLastUpdatedLessThan" placeholder="2021-01-18">
      </div>
      <button type="button" class="btn btn-default" onclick="search();">Search</button>
    </form>
    <script>
        function search(){
            let url = "/4_0_0/Practitioner"
            let hasSearchItem = false;
            // Selecting the input element and get its value
            var inputName = document.getElementById("inputName").value;
            if (inputName){
                url = url + (hasSearchItem ? "&" : "?") + "name=" + inputName
                hasSearchItem = true;
            }

            var inputNpi = document.getElementById("inputNpi").value;
            if (inputNpi){
                url = url + (hasSearchItem ? "&" : "?") + "identifier=http://hl7.org/fhir/sid/us-npi|" + inputNpi
                hasSearchItem = true;
            }

            var inputSource = document.getElementById("inputSource").value;
            if (inputSource){
                 url = url + (hasSearchItem ? "&" : "?") + "source=" + inputSource
                hasSearchItem = true;
            }
            var inputLastUpdatedGreaterThan = document.getElementById("inputLastUpdatedGreaterThan").value;
            if (inputLastUpdatedGreaterThan){
                url = url + (hasSearchItem ? "&" : "?") + "_lastUpdated=gt" + inputLastUpdatedGreaterThan
                hasSearchItem = true;
            }
            var inputLastUpdatedLessThan = document.getElementById("inputLastUpdatedLessThan").value;
            if (inputLastUpdatedLessThan) {
                url = url + (hasSearchItem ? "&" : "?") + "_lastUpdated=lt" + inputLastUpdatedLessThan
                hasSearchItem = true;
            }

            window.location.assign(url);
        }
    </script>

    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <%- include('../partials/humanNames', {names: res.name, resourceType: res.resourceType}); %>

        <div><h4>Gender</h4><%= res.gender %></div>

        <% if (res.qualification) { %>
        <div>
            <h4>Qualifications</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Display</th>
                  <th scope="col">System</th>
                </tr>
              </thead>
              <tbody>
            <% res.qualification.forEach(function(qualification){ %>
                <% if (qualification.code) { %>
                    <% qualification.code.coding.forEach(function(coding){ %>
                <tr>
                  <td><%= coding.code %></td>
                  <td><%= coding.display %></td>
                  <td><%= coding.system %></td>
                </tr>
                    <%})%>
                <%}%>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.communication) { %>
        <div>
            <h4>Communication</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Display</th>
                  <th scope="col">System</th>
                </tr>
              </thead>
              <tbody>
            <% res.communication.forEach(function(communication){ %>
                <% if (communication.coding) { %>
                    <% communication.coding.forEach(function(coding){ %>
                <tr>
                  <td><%= coding.code %></td>
                  <td><%= coding.display %></td>
                  <td><%= coding.system %></td>
                </tr>
                    <%})%>
                <%}%>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <% if (res.telecom) { %>
        <div>
            <h4>Telecom</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Value</th>
                  <th scope="col">Display</th>
                  <th scope="col">System</th>
                </tr>
              </thead>
              <tbody>
            <% res.telecom.forEach(function(telecom){ %>
                <tr>
                  <td><%= telecom.value %></td>
                  <td><%= telecom.display %></td>
                  <td><%= telecom.system %></td>
                </tr>
            <%})%>
              </tbody>
            </table>
        </div>
        <%}%>

        <div>
            <h4>Practitioner Roles</h4>
            <a href="/4_0_0/PractitionerRole?practitioner=<%= res.id %>">PractitionerRole?practitioner=<%= res.id %></a>
        </div>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
