<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid p-0">
    <header><%- include('../partials/header', {resources: resources}); %></header>

    <main class="d-flex align-items-start">
      <%- include('../partials/searchForm'); %>
      <div class="search-results">
        <% resources.forEach(function(res, index){ %>
        <div class="resource-item p-3">
          <!-- prettier-ignore -->
          <%- include('../partials/resourceHeader', {res: res}); %>

          <h4>Status</h4>
          <%= res.active %>
          <h4>Intent</h4>
          <%= res.intent %>

          <!-- prettier-ignore -->
          <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: [res.code], name: "Code", searchParameter: 'code'}); %>
          <%- include('../partials/reference', {references: [res.subject], name: "Subject"}); %>
          <%- include('../partials/period', {periods: [res.occurrencePeriod], name: "Occurrence Period"}); %>

        <% if (res.note) {%>
          <h4>Note</h4>
          <% res.note.forEach(function(note){%>
          <p><%= note.text %></p>
          <!-- prettier-ignore -->
          <%})%>
          <%}%>
          <%- include('../partials/json', {res: res, index: index}); %>
        </div>
        <%})%>
      </div>
    </main>

    <%- include('../partials/footer', {url: url, meta: meta}); %>
  </body>
</html>
