<% if (addresses) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Use</th>
          <th scope="col">Type</th>
          <th scope="col">Line</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">PostalCode</th>
        </tr>
      </thead>
      <tbody>
    <% addresses.forEach(function(address){ %>
    <% if (address){%>
        <tr>
          <td><%= address.id %></td>
          <td><%= address.use %></td>
          <td><%= address.type %></td>
          <td><%= address.line %></td>
          <td><a href="/4_0_0/<%= resourceType %>?address-city=<%= address.city %>"><%= address.city %></a></td>
          <td><a href="/4_0_0/<%= resourceType %>?address-state=<%= address.state %>"><%= address.state %></a></td>
          <td><a href="/4_0_0/<%= resourceType %>?address-postalcode=<%= address.postalCode %>"><%= address.postalCode %></a></td>
        </tr>
    <%}%>
    <%})%>
      </tbody>
    </table>
</div>
<%}%>
