<% if (codeableConcepts && codeableConcepts.length > 0) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Text</th>
          <th scope="col">Code System</th>
          <th scope="col">Code</th>
        </tr>
      </thead>
      <tbody>
    <% codeableConcepts.forEach(function(codeableConcept){ %>
       <% if (codeableConcept && codeableConcept.coding) {%>
            <% codeableConcept.coding.forEach(function(coding){ %>
        <tr>
           <td><%= coding.id %></td>
          <td><%= codeableConcept.text || coding.display %></td>
          <td><a href="/4_0_0/<%= resourceType %>?code=<%= coding.system %>|"><%= coding.system %></a></td>
          <td><a href="/4_0_0/<%= resourceType %>?code=<%= coding.system %>|<%= coding.code %>"><%= coding.code %></a></td>
        </tr>
            <%})%>
        <%}%>
    <%})%>
      </tbody>
    </table>
</div>
<%}%>
