<% if (contacts) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">System</th>
          <th scope="col">Value</th>
          <th scope="col">Use</th>
          <th scope="col">Rank</th>
          <th scope="col">Period</th>
        </tr>
      </thead>
      <tbody>
    <% contacts.forEach(function(contact){ %>
        <% if (contact) {%>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.system %></td>
          <td><% if (contact.system === "email") {%> <a href="/4_0_0/<%= resourceType %>?email=<%= contact.value %>"><%= contact.value %></a><% } else if (contact.system === "phone") {%> <a href="/4_0_0/<%= resourceType %>?phone=<%= contact.value %>"><%= contact.value %></a><%} else {%><%= contact.value %><%}%></td>
          <td><%= contact.use %></td>
          <td><%= contact.rank %></td>
          <td><%= contact.period %></td>
        </tr>
        <%}%>
    <%})%>
      </tbody>
    </table>
</div>
<%}%>
