<% if (participants) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Actor</th>
          <th scope="col">Status</th>
          <th scope="col">Text</th>
          <th scope="col">Code System</th>
          <th scope="col">Code</th>
        </tr>
      </thead>
      <tbody>
    <% participants.forEach(function(participant){ %>
       <% if (participant && participant.type) {%>
        <% participant.type.forEach(function(type){ %>
            <% if (type.coding) {%>
                <% type.coding.forEach(function(coding){ %>
        <tr>
          <td><a href="/4_0_0/<%= participant.actor.reference %>"><%= participant.actor.reference %></a></td>
          <td><%= participant.status %></td>
          <td><%= participant.type.text %></td>
          <td><%= coding.system %></td>
          <td><%= coding.code %></td>
        </tr>
                <%})%>
            <%}%>
        <%})%>
       <%}%>
    <%})%>
      </tbody>
    </table>
</div>
<%}%>
