<% if (reverseReferences) { %>
<div>
    <h4><%= name %></h4>
    <% reverseReferences.forEach(function(reference){ %>
    <a href="/4_0_0/<%= reference.target %>?<%= reference.property %>=<%= id %>">/4_0_0/<%= reference.target %>?<%= reference.property %>=<%= id %></a>
    <%})%>
</div>
<%}%>
