<form class="search-form" action="/4_0_0/<%= resourceName %>" id="searchForm">
  <% for (var i = 0; i < formData.length; i++) { %>
  <div class="form-group form-group-clear">
    <label for="<%= formData[i].name %>" class="visually-hidden"><%= formData[i].label %></label>
    <input
      id="<%= formData[i].name %>"
      type="text"
      class="form-control clear-allowed"
      name="<%= formData[i].name %>"
      value="<%= formData[i].value %>"
      placeholder="<%= formData[i].label %>"
      autocomplete="off"
    />
    <span class="fa fa-times clear-input"></span>
  </div>
  <% } %>

  <div class="form-group">
    <label for="last" class="">Last Updated</label>
    <div class="input-group mb-3" id="_lastUpdateRange">
      <input
        type="text"
        class="form-control"
        name="lastUpdateStart"
        placeholder="YYYY-MM-DD"
        aria-label="Start Date"
        value="<%= lastUpdateStart %>"
        autocomplete="off"
      />
      <span class="input-group-text">to</span>
      <input
        type="text"
        class="form-control"
        name="lastUpdateEnd"
        placeholder="YYYY-MM-DD"
        aria-label="End Date"
        value="<%= lastUpdateEnd %>"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="form-group">
    <button type="button" id="resetFormButton" class="btn btn-light mb-3">Reset</button>
    <button type="submit" class="btn btn-primary mb-3">
      <i class="fa fa-search"></i>
      Search
    </button>
  </div>
</form>
<script type="text/javascript" src="/js/datepicker-full.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
